.container{
    background-color: rgb(20, 18, 39);
    width: 15vh;
    height: 15vh;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h2{
    color: rgb(147, 187, 192);
}
h3{
    color: rgb(115, 153, 236);
}

@media  screen and(max-width:500px) {
    .container{
        width: 10vh;
        height: 10vh;
        border-radius: 50px;
    }
}